<form name="content">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-ng-click="ctrl.accordion.main = !ctrl.accordion.main">
                        {{'basic-data'|translate}}
                    </a><i class="indicator glyphicon glyphicon-chevron-down pull-right"></i>
                </h4>
            </div>
            <div id="collapseMain" data-uib-collapse="ctrl.accordion.main" class="panel-collapse collapse in">
                <div class="panel-body row">
                    <div class='form-group'>
                        <label class='radio-inline'><input type="radio" data-ng-disabled="ctrl._formData.id" data-ng-model="ctrl._formData.type" value="content" data-ng-required="!ctrl._formData.type">{{'content'|translate}}</label>
                        <label class='radio-inline'><input type="radio" data-ng-disabled="ctrl._formData.id" data-ng-model="ctrl._formData.type" value="list" data-ng-required="!ctrl._formData.type">{{'list'|translate}}</label>
                    </div>
                    <div class='form-group'>
                        <label>{{'name'|translate}}</label>
                        <input type="text" data-ng-model="ctrl._formData.name">
                        <label>{{'url'|translate}}</label>
                        <input type="text" data-ng-model="ctrl._formData.url">
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-ng-click="ctrl.accordion.pictures = !ctrl.accordion.pictures">
                        {{'picture-upload'|translate}}
                    </a><i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
                </h4>
            </div>
            <div id="collapsePictures" data-uib-collapse="ctrl.accordion.pictures" class="panel-collapse collapse in">
                <div class="panel-body row">
                    <picture-uploader data-images="ctrl._formData.pictures"></picture-uploader>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-ng-click="ctrl.accordion.labels = !ctrl.accordion.labels">
                        {{'labels'|translate}}
                    </a><i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
                </h4>
            </div>
            <div id="collapseLabels" data-uib-collapse="ctrl.accordion.labels" class="panel-collapse collapse in">
                <div class="panel-body row">
                    <div data-ng-repeat="label in ctrl.labels">
                        <label class='checkbox-inline'><input type="checkbox" name="label.code+[]" data-ng-click="ctrl.toggleLabel(label.code)" data-ng-model="ctrl.frontLabels[label.code]">{{label.name}}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <multilang-box data-langs="ctrl._formData.langs" data-fields="['name','text','url']"></multilang-box>
    <input data-ng-click="ctrl.save()" type="button" class="btn btn-success" value="{{'save'|translate}}"><input data-ng-click="ctrl.save(true)" type="button" class="btn btn-default" value="{{'save-exit'|translate}}">
</form>