<div class="row">
    <div class="col-md-1 add" data-ng-click="ctrl.addImages()">+</div>
    <div class="col-md-1" data-ng-repeat="(key, picture) in ctrl.files">
        <img style="max-height: 50px" data-ng-src="{{picture}}" data-ng-click="ctrl.setCurrent(key)">
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <input style="visibility: hidden" type="file" id="fileInput" data-fileread="ctrl.files" multiple/>
        <div class="cropArea">
            <img-crop image="ctrl.files[ctrl.current]" change-on-fly="true" area-type="square" result-image="ctrl.myCroppedImage"></img-crop>
        </div>
    </div>
    <div class="col-md-4">
        <div>Cropped Image:</div>
        <div><img data-ng-src="{{ctrl.myCroppedImage}}" /></div>
    </div>
</div>