<table data-st-table="displayedCollection" data-st-safe-src="rows" class="table table-striped">
    <thead>
    <tr>
        <th data-ng-repeat="key in ctrl.keys" data-st-sort="key">{{key|translate}}</th>
        <th data-st-sort="options">{{'options'|translate}}</th>
    </tr>
    <tr>
        <th colspan="5"><input data-st-search="" class="form-control" placeholder="global search ..." type="text"/></th>
    </tr>
    </thead>
    <tbody>
    <tr data-ng-repeat="row in displayedCollection">
        <td data-ng-repeat="key in ctrl.keys">{{row[key]}}</td>
        <td>
            <a class="btn btn-success" data-ng-show="ctrl.checkPerm('save')" href="/admin/{{type}}/edit/{{row.id}}">{{'edit'|translate}}</a>
            <a class="btn btn-danger" data-ng-show="ctrl.checkPerm('delete')" data-ng-click="ctrl.delete(type,row.id)">{{'delete'|translate}}</a>
        </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="5" class="text-center">
            <div data-st-pagination="" data-st-items-by-page="ctrl.scope.count" data-st-displayed-pages="7"></div>
        </td>
    </tr>
    </tfoot>
</table>